.dynamic-text-area {
  min-height: 226px;
}

dl.govuk-summary-list.email-summary {
    border-top: 1px solid #b1b4b6;
    margin-bottom: 30px;
    border-left: 1px solid #b1b4b6;
    border-right: 1px solid #b1b4b6;
}